@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    /* background: #07122e; */
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #07122e;
    animation: showRight 1s ease forwards;
    animation-delay: 0.4s;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: #7367f5;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    background: url("home-bg.png") no-repeat;
    background-size: cover;
    background-position: center;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #07122e;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    position: relative;
    font-size: 37px;
    font-weight: 700;
    color: #7367f5;
}

.home-content h3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #07122e;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p {
    position: relative;
    font-size: 18px;
    margin: 20px 0 40px;
}

.home-content p::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #07122e;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content .btn-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #07122e;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #7367f5;
    border: 2px solid #7367f5;
    border-radius: 8px;
    font-size: 20px;
    color: #07122e;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.btn-box a:hover {
    color: #7367f5;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #7367f5;
}

.btn-box a:nth-child(2):hover {
    color: #07122e;
}

.btn-box a:nth-child(2)::before {
    background: #7367f5;
}

.btn-box a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #07122e;
    z-index: -1;
    transition: 0.5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #07122e;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #7367f5;
    border-radius: 50%;
    font-size: 20px;
    color: #7367f5;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    z-index: 1;
}

.home-sci a:hover {
    color: #07122e;
}

.home-sci a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #7367f5;
    z-index: -1;
    transition: 0.5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.home-imageHover {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 700px;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover 0.1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}

.home-imageHover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #07122e;
    animation: showRight 1s ease forwards;
    animation-delay: 2.7s;
    z-index: 100;
}

.home-imageHover:hover {
    background: #07122e;
    opacity: 0.8;
}

/* Animations */

@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
}
